<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>{{ titulo }}</title>
  </head>
  <body>
    <h1>{{ titulo }}</h1>
    <p>Plataforma de controle de expedição de pedidos.</p>
  </body>
</html>
